:root {
	--main-dark-color: rgb(38, 70, 83);
	--main-light-color: rgb(42, 157, 143);
}

body {
	font-family: 'Lato', sans-serif;
}

#fade {
	display: none;
	transition: display 0.5s;
	opacity: 0.5;
	background: #000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.getInfo {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.getInfo .yourTooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.getInfo .yourTooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.getInfo:hover .yourTooltip {
    visibility: visible;
    opacity: 1;
}

p a {
	color: initial;
}

p a:hover {
	color: red;
}

/* To top button */
.toTopBtn {
	cursor: pointer;
}

.toTopBtnCircle {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	opacity: 0.5;
	background-color: var(--main-dark-color);
	color: white;
	text-align: center;
	font-size: 2em;
	z-index: 9;
}

/* Nav start */

.navBtn {
	cursor: pointer;
}

.navBtnCircle {
	position: fixed;
	top: 10px;
	left: 10px;
	display: block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: var(--main-dark-color);
	opacity: 0.5;
	color: white;
	text-align: center;
	font-size: 2em;
	z-index: 9;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--main-dark-color);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 10;
}

.sidenav ul {
	list-style-type: none;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left 0.5s;
	padding: 16px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/* Nav End */

/* Landing portion */

#landing {
	min-height: 100vh;
	background-color: var(--main-light-color);
}

.wrapper {
	position: relative;
}

p.welcomeText {
	margin-top: 10rem;
	font-family: 'Patrick Hand', cursive;
	font-size: 5rem;
}

span.hello {
	font-size: 7rem;
	display: block;
	padding-left: 25%;
}

span.scroll {
	cursor: pointer;
	font-family: 'Neucha', cursive;
	color: var(--main-dark-color);
	font-size: 2rem;
}

.onTop {
	position: relative;
	z-index: 1;
}

img.code-img {
	height: 450px;
	min-height: 100%;
	width: 100%;
}

@media only screen and (max-width: 768px) {
	p.welcomeText {
		margin-top: 5rem;
		font-family: 'Patrick Hand', cursive;
		font-size: 2.25rem;
	}
	span.scroll {
		font-size: 1.5rem;
	}
	span.hello {
		font-size: 4rem;
		display: block;
		padding-left: 15%;
	}
	img.code-img {
		width: 100%;
		position: relative;
		top: -60px;
	}
}

/* Start hover float */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	/* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* End hover float */
/* End Landing */

/* About portion */
#aboutMain {
	background: rgb(244, 162, 97);
	min-height: 100vh;
}

img.aboutImage {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
}

.aboutTitle {
	font-family: 'Neucha', cursive;
	font-size: 3rem;
}

.aboutText {
	font-family: 'Patrick Hand', cursive;
	font-size: 1.5rem;
}
/* End About portion */
/* Projects portion */
#projectsMain {
	background: rgb(231, 111, 81);
	min-height: 100vh;
}
img.projectsImage {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
}
/* End Projects portsion */
/* Languages portion */
#languagesMain {
	background: rgb(244, 162, 97);
	min-height: 100vh;
}

img.languagesImage {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
}
/* End Languages portion */
/* Contact portion */
#contactMain {
	background: rgb(233, 196, 106);
	min-height: 100vh;
}
img.contactImage {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
}
/* End Contact portion */
