:root {
	--main-dark-color: rgb(38, 70, 83);
	--main-light-color: rgb(42, 157, 143);
}

body {
	font-family: 'Lato', sans-serif;
}

.font1 {
	font-family: 'Patrick Hand', cursive;
}
.font2 {
	font-family: 'Neucha', cursive;

}

.shadow-blue {
	box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.simpleShadow {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}

.getInfo {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.getInfo .yourTooltip {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 1s;
}

.getInfo .yourTooltip::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.getInfo:hover .yourTooltip {
	visibility: visible;
	opacity: 1;
}

p a:hover {
	color: red;
}

a {
	color: initial
}

/* To top button */
.toTopBtn {
	cursor: pointer;
}

.toTopBtnCircle {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: block;
	height: 60px;
	width: 60px;
	line-height: 60px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	opacity: 0.5;
	background-color: var(--main-dark-color);
	color: white;
	text-align: center;
	font-size: 2em;
	z-index: 9;
}


/* Landing portion */

#landing {
	min-height: 100vh;
	background-color: var(--main-light-color);
}

.wrapper {
	position: absolute;
}

p.welcomeText {
	margin-top: 10rem;
	font-family: 'Patrick Hand', cursive;
	font-size: 5rem;
}

span.hello {
	font-size: 7rem;
	display: block;
	padding-left: 25%;
}

span.scroll {
	cursor: pointer;
	font-family: 'Neucha', cursive;
	color: var(--main-dark-color);
	font-size: 2rem;
}

.onTop {
	position: relative;
	z-index: 1;
}

img.code-img {
	height: 450px;
	min-height: 100%;
	width: 100%;
}

@media only screen and (max-width: 768px) {
	p.welcomeText {
		margin-top: 5rem;
		font-family: 'Patrick Hand', cursive;
		font-size: 2.25rem;
	}
	span.scroll {
		font-size: 1.5rem;
	}
	span.hello {
		font-size: 3.5rem;
		display: block;
		padding-left: 15%;
	}
	img.code-img {
		width: 100%;
		position: relative;
		top: -60px;
	}
}

/* Start hover float */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	/* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
/* End hover float */
/* End Landing */

/* About portion */
#aboutMain {
	background: rgb(244, 162, 97);
	min-height: 100vh;
}

img.aboutImage {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
}

.aboutTitle {
	padding-top: 5rem;
	font-family: 'Neucha', cursive;
	font-size: 3rem;
}

.aboutText {
	font-family: 'Patrick Hand', cursive;
	font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
	.aboutText{
		font-size: 1rem
	}
	.aboutTitle{
		font-size: 2rem
	}
}
/* End About portion */
/* Projects portion */
#projectsMain {
	background: rgb(231, 111, 81);
	min-height: 100vh;
}
img.projectsImage {
	max-height: 15rem;
	width: 100%;
}
.projectsTitle {
	font-size: 3rem;
	padding-top: 5rem;
}

.projectText {
	font-size: 2rem;
}

.languageIcon {
	max-height: 50px;
	max-width: 100px;
}

@media only screen and (max-width: 768px) {
	.projectText{
		font-size: 1rem
	}
	.projectsTitle{
		font-size: 2rem
	}
}


/* End Projects portion */
/* Skills portion */
#skillsMain {
	background: rgb(244, 162, 97);
}
.skillsTitle {
	font-size: 3.5rem;
	padding-top: 5rem;
}

.skillsText {
	font-size: 2rem;
}

img.SkillsImage {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
}
/* End Skills portion */
/* Contact portion */
#contactMain {
	background: rgb(233, 196, 106);
	min-height: 100vh;
}
img.contactImage {
	height: 50vh;
	min-height: 50vh;
	width: 100%;
}
.contactForm {
	background: white;
	margin-top: 5rem;
}
/* End Contact portion */
